<div class="row">
  <div class="col-md-3">
    button tag<br>
    <button class="btn btn-primary" href="#">Test</button>
    <button class="btn btn-primary" href="#" disabled>Test</button>
    <br>
    <button class="btn btn-default" href="#">Test</button>
    <button class="btn btn-default" href="#" disabled>Test</button>
    <br>
    <button class="btn btn-secondary" href="#">Test</button>
    <button class="btn btn-secondary" href="#" disabled>Test</button>
  </div>

  <div class="col-md-3">
    <br>
    <button class="btn btn-primary btn-sm" href="#">Test</button>
    <button class="btn btn-primary btn-sm" href="#" disabled>Test</button>
    <br>
    <button class="btn btn-default btn-sm" href="#">Test</button>
    <button class="btn btn-default btn-sm" href="#" disabled>Test</button>
    <br>
    <button class="btn btn-secondary btn-sm" href="#">Test</button>
    <button class="btn btn-secondary btn-sm" href="#" disabled>Test</button>
    <br>
  </div>

  <div class="col-md-3">
    a tag
    <br>
    <a class="btn btn-primary" href="#">Test</a>
    <a class="btn btn-primary" href="#" disabled>Test</a>
    <br>
    <a class="btn btn-default" href="#">Test</a>
    <a class="btn btn-default" href="#" disabled>Test</a>
    <br>
    <a class="btn btn-secondary" href="#">Test</a>
    <a class="btn btn-secondary" href="#" disabled>Test</a>
  </div>

  <div class="col-md-3">
    <br>
    <a class="btn btn-primary btn-sm" href="#">Test</a>
    <a class="btn btn-primary btn-sm" href="#" disabled>Test</a>
    <br>
    <a class="btn btn-default btn-sm" href="#">Test</a>
    <a class="btn btn-default btn-sm" href="#" disabled>Test</a>
    <br>
    <a class="btn btn-secondary btn-sm" href="#">Test</a>
    <a class="btn btn-secondary btn-sm" href="#" disabled>Test</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h1>H1 Test</h1>
    <h2>H2 Test</h2>
    <h3>H3 Test</h3>
    <h4>H4 Test</h4>
    <h5>H5 Test</h5>
    <h6>H6 Test</h6>
  </div>
</div>
