@import 'scss/variables.style';
@import 'scss/bootstrap';

.gallery {
  margin: auto;

  background-color: black;
}

.ru-upload {
  padding: 10px;
  padding-right: 30px;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;

  border-radius: 10px;
  background-color: #fff;
}

.footer {
  padding: 50px;

  color: white;
  background-color: black;
}
