@import 'scss/variables.style';
@import 'scss/bootstrap/bootstrap.min';

.gallery {
  margin: auto;

  background-color: $gallery-bg;
}

.ru-upload {
  padding: 10px 30px 10px 10px;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;

  border-radius: 10px;
  background-color: $container-bg;
}

.footer {
  padding: 50px;

  color: $footer-color;
  background-color: $footer-bg;
}
