@import 'fixed_variables.style';
$upload-button-bg: #0275d8;
$upload-button-bg-hover: #286090;
$upload-button-font: #fff;
$delete-button-bg: #d9534f;
$delete-button-bg-hover: #c9302c;
$delete-button-font: #fff;
$gallery-bg: #000;
$container-bg: #fff;
$footer-bg: #000;
$footer-color: #fff;
