@import 'fixed_variables.style';
$upload-button-bg: #0275d8;
$upload-button-bg-hover: #286090;
$upload-button-font: #fff;
$delete-button-bg: #d9534f;
$delete-button-bg-hover: #c9302c;
$delete-button-font: #fff;
$alert-danger-color: #a94442;
$alert-danger-bg: #f2dede;
