@import '../scss/bootstrap/bootstrap.min';

.dragzone {
  display: inline-block;

  width: 100%;
  min-height: 200px;
  padding: 10px;

  border-radius: 20px;
}

.info-text {
  padding: 25px;

  text-align: center;
}
