<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ngx Renuo Upload</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="single-upload">Simple Upload</a></li>
        <li routerLinkActive="active"><a routerLink="multi-upload">Multi Upload</a></li>
        <li routerLinkActive="active"><a routerLink="image">Bild</a></li>
        <li routerLinkActive="active"><a routerLink="gallery">Gallery</a></li>
      </ul>
    </div>
  </div>
</nav>
