<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{i18n.t.nav.brand}}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">{{i18n.t.nav.home}}</a></li>
        <li routerLinkActive="active"><a routerLink="single-upload">{{i18n.t.nav.singleUpload}}</a></li>
        <li routerLinkActive="active"><a routerLink="multi-upload">{{i18n.t.nav.multiUpload}}</a></li>
        <li routerLinkActive="active"><a routerLink="image">{{i18n.t.nav.image}}</a></li>
        <li routerLinkActive="active"><a routerLink="gallery">{{i18n.t.nav.gallery}}</a></li>
      </ul>
    </div>
  </div>
</nav>
